@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif !important;
}

.globalColor{
  color: rgba(0, 150, 136, 0.7);
}

.globalImg{
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px){
  .globalImg {
    width: 100%;
    height: 250px;
  }

  .paginateCenter {
    width: 35%;
    margin: 0 auto;
  }
}

img {
  cursor: pointer;
}

.carouselItem {
  transform: translate(0%, -40%);
  object-fit: contain;
}

.globalBtn {
  background-color: rgba(0, 150, 136, 0.7);
}

.nav-link {
  color: rgba(28, 36, 35, 0.7) !important;
}

.nav {
  color: rgba(28, 36, 35, 0.7) !important;
}

.nav-link:hover {
  font-weight: bold;
}

.activated {
  font-weight: bold;
  background-color: rgba(0, 150, 136, 0.7);
  border-radius: 50%;
  pointer-events: none;
  color: white;
}

.custom-paginate {
  display: flex;
  list-style: none;
  height: 40px;
  width: fit-content;
  align-items: center;
  padding: 0;
  margin-top: 40px;
}

.paginate {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
}

.paginate:hover {
  background-color: rgba(0, 150, 136, 0.7);
  border-radius: 50%;
}